body {
  font-family: "Noto Serif Display", sans-serif;
}
.options {
  display: block;
  width: 50%;
  margin: auto;
  background-color: pink;
  border-radius: 3%;
  position: relative;
}

.dropDown {
  padding: 2%;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.attackbutton {
  margin-left: 50%;
}

.buttonHolder {
  padding: 2%;
}

.hidden {
  display: none;
  /*visibility: hidden;*/
}

.visible {
  visibility: visible;
}

button {
  font-family: "Noto Serif Display", sans-serif;
  font-weight: bolder;
}

.resultsDisplay {
  width: 80%;
  height: 60%;
  margin: auto;
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  padding: 1%;
  margin-top: 2%;
  border-radius: 3%;
  justify-content: center;
}

.resultsBox {
  display: block;
  background-color: aliceblue;
  width: 40%;
  margin: 3%;
  text-align: center;
}
